@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  scroll-behavior: smooth;
} */

.linear {
  color: #e4d8d8;
}

.animate-nav {
  animation: slideMenu 0.5s;
}

@keyframes slideMenu {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-cart {
  animation: slideCart 0.5s alternate;
}

@keyframes slideCart {
  0% {
    transform: translate(0px, -30px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.4)
  );
}

svg {
  transition: all 200ms;
}

svg:hover {
  fill: #e9967a;
}

input[type="text"] {
  outline: #e9967a;
}
